  
body {
    background-color: #222222;
    text-align: center;
    font-family: "Arial";
    color: white;
  }
  
  h1 {
    color: white;
  }
  
  .btn {
    margin-top: 5px;
    background-color: #fe4604;
    border: none;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 30px;
  }
  .btn:hover,
  .btn:focus {
    background-color: #fe4604 !important;
  }

  .btn:active{
    background-color: #e43e01 !important;
  }
  
  .form-control {
    width: 100%;
    font-size: 1.5em;
    margin-top: 15px;
  }

  form{
      margin:0 40px;
  }

  
  /* ============= Sections */

  
  #enter-upi{
    margin-top:20vh;
  }

  #use-case{
    margin-top: 10vh;
    display:none;
  }


  /* ============= NAV */
  .logo {
    height: 50px !important;
  }
  
  .navbar {
    background-color: #303030;
    height: 80px;
  }
  
  .navbar-nav {
    float: right;
  }
  
/* ============= Buttons */
.btn-use-case{
    height:15vh;
    width:40%;
    margin:20px;
    padding:20px;
    white-space: normal;
}

.btn-activity{
    width:80%;
    margin:0 auto;
    margin-bottom:20px;
    padding:20px;
    white-space: normal;
}

.modal-close{
    width:50px;
    height:50px;
}

/* ============= Modal */
#exampleModalLabel{
    color:#222222;
    font-size:2em;
    line-height: 1.2;
    margin-top:10px;
}

.modal-dialog{
    margin-top:15vh;
}

/* ============= Alert */
#sign-in-success{
    position: fixed;
    width:100%;
    top:80px;
    display:none;
}