<div class="alert alert-success" id="sign-in-success">
  <strong>Success!</strong> You have signed into Unleash Space.
</div>
<div *ngIf="stage == 1">
  <div id="form-head">
    <h1 class="title">Sign into Unleash Space!</h1>
    <p>Enter your University of Auckland UPI</p>
  </div>
  <div id="container">
    <form action="/submit" class="form center">
      <div>
        <mat-form-field appearance="fill" id="id-field" class="form-control">
          <mat-label>UPI/ID</mat-label>
          <input
            matInput
            placeholder="ID/UPI"
            id="ID"
            required
            name="ID"
            ngModel
          />
          <!-- (keyup)="next()" -->
        </mat-form-field>
        <mat-error *ngIf="numFailed != ''"> {{ numFailed }}</mat-error>
      </div>
      <button
        mat-raised-button
        id="next"
        class="btn btn-primary next"
        [disabled]="disabled"
        (click)="next()"
      >
        Next
      </button>
    </form>
  </div>
</div>

<div *ngIf="stage == 2">
  <div id="use-case">
    <h1 class="title">What are you here for?</h1>
    <p>Select the button that best describes your visit</p>

    <div *ngFor="let b of buttons; index as i" class="btnCont">
      <button
        *ngIf="b.subOptions.length == 0"
        type="button"
        class="btn btn-primary btn-use-case"
        (click)="submit(b.text)"
      >
        {{ b.text }}
      </button>
      <button
        *ngIf="b.subOptions.length > 0"
        type="button"
        class="btn btn-primary btn-use-case"
        (click)="openDialog(i)"
      >
        {{ b.text }}
      </button>
    </div>
  </div>
</div>
