<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="./../assets/unleash-white.png" />
  <span>Unleash</span>
  <div class="spacer"></div>
  <button mat-flat-button color="basic" (click)="logout()" *ngIf="page == 'in'">
    Log Out
  </button>
  <button mat-flat-button color="basic" (click)="login()" *ngIf="page == 'out'">
    Log In
  </button>
  <div class="space"></div>
</div>

<div class="content" role="main">
  <app-login *ngIf="page == 'in'"></app-login>
</div>
<app-logout *ngIf="page == 'out'"></app-logout>

<!-- <router-outlet></router-outlet> -->
